// Define variables for your color scheme

// For example:
$red: #F1416C;
$blue: #0EDEAE;
$dark-blue: #101124;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #50CD89;
$gray: #E3E4E9;
$purple: #B973FF;
$dark-purple: #432054;
