// Define variables for your color scheme

$red: #F1416C;
$blue: #0EDEAE;
$dark-blue: #101124;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #50CD89;
$gray: #E3E4E9;
$dark-gray: #5E6278;
$purple: #B973FF;
$dark-purple: #432054;
$black: #181C32;
$dark-black: #101124;
$medium-black: #1E1E2D;
