<div class="card-details-profile d-flex gap-3">
    <div class="d-flex align-items-center justify-content-between line-bottom">
        <p class="m-0 fw-bold">Perfil - Detalhes</p>
        <%= button_to "Edit Profile", user_settings_path, method: :get, class: "btn-edit-profile mb-4" %>
    </div>
    <div class="mt-4">
        <div class="mx-5 fw-bold">
            <div class="d-flex align-items-center justify-content-between">
                <p class="txt-title col-6">Nome Completo</p>
                <p class="txt-p col-6"><%= current_user.name %></p>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <p class="txt-title col-6">Email</p>
                <p class="txt-p col-6"><%= current_user.email %></p>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <p class="txt-title col-6">Contato telemóvel</p>
                <p class="txt-p col-6">+351 912 629 632</p>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <p class="txt-title col-6">País</p>
                <p class="txt-p col-6">Portugal</p>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <p class="txt-title col-6">Cidade</p>
                <p class="txt-p col-6">Lisboa</p>
            </div>
        </div>
    </div>
    <div class="mx-5">
        <p class="txt-title fw-bold">Sobre mim</p>
        <p class="txt-p col-8">
        As a professional transitioning into IT, I am driven by innovation and dedication. 
        My passion for solving complex challenges, combined with sharp analytical skills, 
        defines my commitment to thriving in this dynamic technological field. I am determined 
        to acquire new knowledge and demonstrate my adaptability to achieve success on this journey.
        </p>
    </div>
</div>
