<div class="card-edit-profile d-flex align-items-center row gap-3">
  <div class="d-flex align-items-center justify-content-between">
    <p>Profile Details</p>
    <%= button_to "Edit Profile", class:"btn-edit-profile" %>
  </div>
  <div>
    <div>
      <div class="d-flex align-items-center justify-content-between">
        <p>Full Name</p>
        <p><%= current_user.name %></p>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <p>Email</p>
        <p><%= current_user.email %></p>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <p>Contact Phone</p>
        <p>+351 912 629 632</p>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <p>Country</p>
        <p>Portugal</p>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <p>City</p>
        <p>Lisboa</p>
      </div>
    </div>
  </div>
  <div>
    <p>About me</p>
    <p>
      As a professional transitioning into IT, I am driven by innovation and dedication. 
      My passion for solving complex challenges, combined with sharp analytical skills, 
      defines my commitment to thriving in this dynamic technological field. I am determined 
      to acquire new knowledge and demonstrate my adaptability to achieve success on this journey.
    </p>
  </div>
</div>
