<footer class="footer">
  <% if @nearest_active_program.present? %>
    <h2 class="text-animated">&lt; / &gt; &nbsp; INSCREVE-TE # ABERTO <%= @nearest_active_program.registration_start_date.strftime('%d.%m.%y') %> &nbsp; &lt; / &gt; &nbsp; INSCREVE-TE # ABERTO <%= @nearest_active_program.registration_start_date.strftime('%d.%m.%y') %> &nbsp;</h2>
  <% else %>
    <h2 class="text-animated">&lt; / &gt; &nbsp; SEM PROGRAMAS ATIVOS DE MOMENTO &nbsp; &lt; / &gt; &nbsp; SEM PROGRAMAS ATIVOS DE MOMENTO &nbsp;</h2>
  <% end %>

  <!-- Collapsible trigger -->
  <%# <div class="d-flex justify-content-center">
    <i class="fa-solid fa-angle-down" data-bs-toggle="collapse" data-bs-target="#footerCollapse" aria-expanded="false" aria-controls="footerCollapse" role="button" style="cursor: pointer;"></i>
  </div> %>

  <!-- Collapsible content -->
  <%# <div class="collapse" id="footerCollapse">
    <div class="container">
    </div>
  </div> %>

  <%# <div class="text-center footer-bottom-text">
    <p>© 2023 Todos os direitos reservados. Câmara Municipal de Lisboa | DMEI-DEEE - Future of Work Lisboa e Le Wagon Portugal</p>
  </div> %>
</footer>
