<div class="d-flex gap-4 mb-4">
  <%= link_to "Visão geral", user_profile_path, class: "txt-menu-nav-profile #{'active' if current_page?(user_profile_path)}" %>
  <%= link_to "Configurações", user_settings_path, class: "txt-menu-nav-profile #{'active' if current_page?(user_settings_path)}" %>
</div>

