<div class="d-flex align-items-center gap-3 mb-5">
  <i class="fa-solid fa-house"></i>
  <i class="fa-solid fa-chevron-right"></i>
  <p class="m-0">Eventos</p>
  <i class="fa-solid fa-chevron-right"></i>
  <p class="m-0">Editar Evento</p>
</div>

<h3>Editar evento</h3>

<%= render 'event_form' %>
