<div class="d-flex align-items-center gap-3 mb-5">
  <i class="fa-solid fa-house txt-opac"></i>
  <i class="fa-solid fa-chevron-right"></i>
  <p class="m-0 txt-links-actived">Eventos</p>
</div>


<div class="bg-white rounded-4 p-4">
  <div class="d-flex justify-content-between align-items-center">
    <h4>Eventos</h4>
    <% if policy(Event).new? %>
      <%= link_to 'Novo Evento', new_event_path, class: 'btn-edit-profile text-decoration-none' %>
    <% end %>
  </div>

  <div class="mt-4">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link text-decoration-none active" id="agendados-event-tab" data-bs-toggle="tab" data-bs-target="#agendados" type="button" role="tab" aria-controls="agendados" aria-selected="false">
          Eventos Agendados
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link text-decoration-none" id="terminados-event-tab" data-bs-toggle="tab" data-bs-target="#terminados" type="button" role="tab" aria-controls="terminados" aria-selected="false">
          Eventos terminados
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link text-decoration-none" id="gallery-event-tab" data-bs-toggle="tab" data-bs-target="#gallery" type="button" role="tab" aria-controls="gallery" aria-selected="false">
          Galeria
        </a>
      </li>
    </ul>
  </div>
</div>



<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="agendados" role="tabpanel" aria-labelledby="agendados-event-tab">
    <h3 class="text-center mt-5 mb-5">Eventos Agendados</h3>
    <div class="programs-list row">
      <% if @agendados_events.any? %>
        <% @agendados_events.each do |event| %>
          <%= render partial: "shared/card_event", locals: { event: event } %>
        <% end %>
      <% else %>
        <p class="text-center">Não há eventos agendados.</p>
      <% end %>
    </div>
  </div>


  <div class="tab-pane fade" id="terminados" role="tabpanel" aria-labelledby="terminados-event-tab">
    <h3 class="text-center mt-5 mb-5">Eventos Terminados</h3>
    <div class="programs-list row">
      <% if @terminados_events.any? %>
        <% @terminados_events.each do |event| %>
          <%= render partial: "shared/card_event", locals: { event: event } %>
        <% end %>
      <% else %>
        <p class="text-center">Não há eventos terminados.</p>
      <% end %>
    </div>
  </div>


  <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-event-tab" data-controller="media-modal">
    <h3 class="text-center mt-4 mb-4">Galeria de Publicações de Eventos</h3>
    <div class="posts-list row">
      <% if @event_posts.any? %>
        <% @event_posts.each do |post| %>
          <%= render partial: "shared/card_post", locals: { post: post } %>
        <% end %>
      <% else %>
        <p class="text-center">Não há publicações para eventos.</p>
      <% end %>
    </div>
    <div class="modal fade" id="mediaModal" tabindex="-1" aria-labelledby="mediaModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered"> <!-- Added modal-dialog-centered for centering -->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close">
              <%# <i class="fa-solid fa-circle-xmark"></i> %>
            </button>
          </div>
          <div class="modal-body" data-media-modal-target="modalBody">
            <!-- Content will be dynamically loaded here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


