<div class="d-flex align-items-center gap-3 mb-3">
  <i class="fa-solid fa-house txt-opac"></i>
  <i class="fa-solid fa-chevron-right txt-opac"></i>
  <%= link_to "Eventos", events_path, class:"txt-links-disabled" %>
  <i class="fa-solid fa-chevron-right"></i>
  <p class="m-0 txt-links-actived">Novo Evento</p>
</div>


<h3 class="mt-5">Criar Novo Evento</h3>

<%= render 'event_form' %>
