<!-- Event dropdown -->
<div class="form-group">
  <%= f.label :event_id, "Eventos: "%>
  <%= f.collection_select(:event_id, Event.where(status: :terminado), :id, :title, prompt: "Seleccione um Evento", class: "form-select") %>
</div>
