<div class="form-group">
  <%# <%= f.label :event_id, "Eventos: " %>
  <%= f.select :event_id,
                @events.map { |e| [e.title, e.id] },
                { include_blank: "Seleccione um Evento" },
                  class: "form-select" %>
</div>
