<div class="form-group">
  <%# <%= f.label :program_id, "Programas: " %>
  <%= f.select :program_id,
               @programs.map { |p| [p.title, p.id] },
                { include_blank: "Seleccione um Programa " },
                class: "form-select" %>
</div>
