<!-- Program dropdown -->
<div class="form-group">
  <%= f.label :program_id %>
  <%= f.select :program_id, Program.active.collect { |p| [p.title, p.id] }, include_blank: "Select a Program", data: { action: "change->post-form#updateSteps" } %>
</div>
