<!-- Steps dropdown -->
<div class="form-group">
  <%= f.label :step_id %>
  <%= f.select :step_id, [], include_blank: "Select a Step", data: { controller: "post-form", target: "post-form.stepsSelect" } %>
</div>
