<!-- Program dropdown for steps -->
<div class="form-group">
  <%= f.label :program_id_for_step %>
  <%= f.select :program_id_for_step, Program.active.collect { |p| [p.title, p.id] }, include_blank: "Select a Program for Step", data: { controller: "post-form", target: "post-form.programSelectForStep" } %>
</div>

<!-- Steps dropdown, initially hidden -->
<div class="form-group" data-post-form-target="stepsSelectForStep" style="display: none;" data-turbo-frame="post-form-steps-select-for-step">
  <%= f.select :step_id, [], include_blank: "Select a Step", data: { controller: "post-form", target: "post-form.stepsSelectForStep" } %>
</div>
