<div class="d-flex align-items-center gap-3 mb-5">
  <i class="fa-solid fa-house txt-opac"></i>
  <i class="fa-solid fa-chevron-right txt-opac"></i>
  <%= link_to "Galeria", posts_path, class:"txt-links-disabled" %>
  <i class="fa-solid fa-chevron-right"></i>
  <p class="m-0 txt-links-actived">Editar Publicação</p>
</div>

<h3>Editar Publicação</h3>

<%= render 'post_form' %>
