<div class="d-flex align-items-center gap-3 mb-5">
  <i class="fa-solid fa-house"></i>
  <i class="fa-solid fa-chevron-right"></i>
  <p class="m-0">Publicações</p>
  <i class="fa-solid fa-chevron-right"></i>
  <p class="m-0">Editar Publicação</p>
</div>

<h3>Editar Publicação</h3>

<%= render 'post_form' %>
