<div class="galeria-container">
  <h1>GALERIA</h1>
  <div>
    <ul class="d-flex galeria-links">
      <li><a href="" class="active">Todos</a></li>
      <li><a href="">Web Development</a></li>
      <li><a href="">Data Science</a></li>
      <li><a href="">Data Analytics</a></li>
    </ul>
  </div>
  <% @posts.each do |post| %>
    <div class="posts-container">
      <% if post.step %>
        <h2><%= post.step.program.title if post.step.program %></h2>
      <% else %>
        <h2>No associated program</h2>
      <% end %>
      <%= post.title %>
      <%= post.body %>
      <% if post.media_contents.attached? %>
        <div class="media-content">
          <% post.media_contents.each do |media| %>
            <%= image_tag media, class: "media" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
