<div class="d-flex align-items-center gap-3 mb-5">
  <i class="fa-solid fa-house txt-opac"></i>
  <i class="fa-solid fa-chevron-right"></i>
  <p class="m-0 txt-links-actived">Galeria</p>
</div>
<div class="d-flex justify-content-between align-items-center mb-4 bg-white rounded-4 p-4">
  <h4>Galeria</h4>
  <%= link_to 'Criar Publicação', new_post_path, class: 'btn-edit-profile text-decoration-none' %>
</div>

<%# posts lists here %>
