.primary-button{
  padding: 10px 0 10px 0;
  width: 100%;
  border: none;
  background-color: $light-purple;
  border-radius: 8px;
  color: $white;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  &:hover{
    color: $white;
    background-color: $purple;
  }
}

.dash-button {
  display: flex;
  flex-direction: row;
  color: $dark-gray;
  border: 1px dashed $dark-gray;
  border-radius: 6px;
  padding: 6px 10px;

  gap: 10px;
  align-items: center;
}


// Switch button begin //
.switch {
  width: 1.5rem;
  height: 0.8rem;
  scale: 2;
}

.switch input {
  opacity: 0;
  height: 0;
  width: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(215, 215, 228);
  border-radius: 30px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 20px;
  left: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, $red, $orange 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #37393f;
  transition: 0.4;
}

input:checked + .slider:before {
  left: 15px;
  background: #37393f;
  box-shadow: inset -2px -2px 5px -2px #8983f7, inset -6px -3px 0 0 #a3dafb;
}
// Switch button end //


.flag {
  width: 15px;
  border-radius: 8px;
}

.nav-button {
  background: $light-purple;
  width: 110px;
  border-radius: 6px;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  &:hover{
    color: $white;
    background-color: $purple;
  }
}

.btn-cancel {
  background-color: $red;
  color: $white;
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  text-decoration: none;
}

.btn-programs {
  background: $light-purple;
  width: 175px;
  border-radius: 6px;
  color: $white;
  font-weight: bold;
  &:hover{
    color: $white;
    background-color: $purple;
  }
}

.btn-faq {
  margin-right: 10px;
  padding: 10px 15px 10px 15px;
  background: $light-purple;
  border-radius: 6px;
  color: $white;
  font-weight: bold;
  text-decoration: none;
}

.btn-excel {
  padding: 10px 15px;
  background-color: #1d6f41;
  color: $white;
  border: none;
  border-radius: 6px;
}

.btn-pdf {
  padding: 10px 15px;
  background-color: #db2e32;
  color: $white;
  border: none;
  border-radius: 6px;
}

.btn-preview {
  padding: 10px 15px;
  background-color: #72a8da;
  color: $white;
  border: none;
  border-radius: 6px;
  text-decoration: none;
}

.btn-header-preview {
  display: flex;
  width: 92%;
  justify-content: space-between;
  align-items: center;
}

.btn-icon-purple {
  background-color: $light-purple;
  color: $white;
  padding: 10px 12px 10px 15px;
  border-radius: 6px;
  border: none;
  text-decoration: none;
}

.btn-search {
  background: $light-purple;
  color: $white;

  border-radius: 0 6px 6px 0;

  &:hover {
    background: $purple;
    color: $white;
  }
}

.btn-refresh {
  background-color: $light-purple;
  color: $white;
  border-radius: 6px;
  border: none;
  text-decoration: none;
  margin: 16px 0;

  &:hover {
    background: $purple;
    color: $white;
  }
}