.card-profile {
    background-color: aliceblue;
    border-radius: 12px;
    height: 250px;
    padding: 30px;
    position: relative;
}

.card-details-profile {
    background-color: aliceblue;
    border-radius: 12px;
    height: 500px;
    padding: 30px;
    position: relative;
    flex-direction: column;
}

.avatar-square-s {
    border: none;
    border-radius: 12px;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.btn-show-more-profile {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    background-color: $light-purple;
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
}

.btn-edit-profile {
    padding: 10px 16px;
    background-color: $light-purple;
    color: $gray;
    border: none;
    border-radius: 6px;
}

.txt-title {
    color: $dark-gray;
}

.txt-p {
    color: #3F4254;
}


// Card Programas

.cards-test {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 25px;
  justify-content: space-between;
}

.card-programs {
  width: 350px;
  height: 500px;
  border-radius: 12px;
  background-color: $medium-black;


  .card-header {
    width: 350px;
    height: 25px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: $light-purple;
  }

  .card-title {
    margin-top: 20px;
    color: $white;
  }

  .card-sub-title {
    color: $light-purple;
  }

  .card-text {
    color: $white;
  }
}
