.accordion-color {
  border-radius: 5px;
  color: $dark-purple;
  border-bottom: 2px solid $dark-purple;
}

.accordion-color:not(.collapsed) {
  border-radius: 5px;
  color: $light-purple;
  background-color: $white;
  border-bottom: none;
}

.accordion-button.accordion-color::after {
  color: aquamarine;
}

.accordion-body {
  margin-bottom: 15px;
}
