.footer {
  h2 {
    font-family: 'Dela Gothic One', sans-serif;
  }
  background: $dark-purple;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
  padding: 10px;
  overflow: hidden;
}

.text-animated {
  white-space: nowrap;
  animation: text-animated 25s linear infinite;
}


@keyframes text-animated {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
