.navbar-stepbytech {
  justify-content: space-between;
  background: $dark-purple;
}

.container-fluid {
  padding: 0 30px 0 70px;
}

.navbar-stepbytech .navbar-collapse {
  flex-grow: 0;
}

.navbar-nav {
  gap: 120px;
}

.navbar-stepbytech .navbar-center {
  display: flex;
}

.navbar-stepbytech .navbar-right {
  display: flex;
}

.navbar-stepbytech .nav-link{
  color: $white;
}

.navbar-stepbytech .stepbytech-nav-logo {
  width: 100px;
}
