.homepage-container {
  padding: 69.9px 170px 66.4px 170px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  // height: calc(100vh - 136.3px);
  height: 100vh;
}

.homepage-container::-webkit-scrollbar{
  display: none;
}

.section {
  height: 100vh;
  // min-height: calc(100vh - 136.3px);
  padding-top: 150px;
  h2 {
    margin-bottom: 30px;
  }
}

#home {
  position: relative;
  .background-image {
    background-image: url("stepbytech_astro.png"), url("bg_back_blend-25.png");
    background-size: 85%, 50%;
    background-repeat: no-repeat;
    background-position: center, right;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .home-content {
    position: relative;
    z-index: 1;
    padding: 365px 0 0 90px;
  }

  p {
    max-width: 450px;
  }

  .home-patrocinio-img {
    width: 15%;
  }

}


#aboutus {
  margin-bottom: 200px;
  h6 {
    color: $blue;
    margin-bottom: 20px;
  }
  p {
    color: $white;
    margin-bottom: 20px;
  }
  span {
    color: $white;
  }
  .stepbytech-topics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 100px;
    margin-top: 50px;
  }

  .stepbytech-context {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 45px;
    align-items: flex-start;
  }

  .stepbytech-topics-container {
    display: grid;
    margin-top: 50px;
  }

  .aboutus-patrocinio-img {
    width: 100%;
    border-radius: 10px;
  }
}

.stepbytech-individual-topic {
  text-align: center;
  .topic-img {
    width: 6em;
    margin-bottom: 20px;
  }
}

.other-collabs {
  text-align: center;

  .patrociono-img {
    width: 20%;
    margin: 0 45px 0 45px;
  }
}

.patrocinador-text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 35px;
  h6 {
    color: $blue;
    font-family: $body-font;
  }
  p {
    color: $white;
  }
  .main-patrocinio-img {
    width: 25%;
  }
}

// #programs {
//   // margin-bottom: 200px;
// }

#credits {
  p {
    margin: 100px 0 15px 0;
    font-size: 14px;
    text-align: center;
  }
}
