.homepage-container {
  // padding: 69.9px 170px 66.4px 170px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}

.homepage-container::-webkit-scrollbar{
  display: none;
}

// .homepage-container:first-child {
//   padding: 69.9px 0 66.4px 0;
//   background-color: red;
// }

// .homepage-container > *:first-child {
//   padding: 0;
//   background-color: red;
// }


.section {
  padding-top: 120px;
  padding: 50px 170px;
  // min-height: 100vh;

  h2 {
    margin-bottom: 30px;
  }
}

#home {
  position: relative;
  // background-image: url("bg-tranparent-balls.png");
  padding: 50px 0;

  .bg-home {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bg-transparent-balls {
    position: absolute;
    right: 0;
    width: 100vw;
    height: calc(100% - 100px);
    object-fit: cover;
  }


  .background-image {
    width: 1024px;
    z-index: 1;
    position: relative;
    animation: floatAnimation 3s ease-in-out infinite;
    // background-image: url("stepbytech_astro.png"), url("bg_back_blend-25.png");
    // background-size: 75%, 50%;
    // background-repeat: no-repeat;
    // background-position: center, right;
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
  }

  .home-content {
    position: absolute;
    z-index: 1;
    top: 63%;
    left: 17%;
    animation: floatAnimation 3s ease-in-out infinite;
  }

  p {
    max-width: 450px;
  }

  .home-patrocinio-img {
    width: 15%;
  }

}

// animation
@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

#aboutus {

  h6 {
    color: $blue;
    margin-bottom: 20px;
  }

  p {
    color: $white;
    margin-bottom: 20px;
  }

  span {
    color: $white;
  }

  .stepbytech-topics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 100px;
    margin-top: 50px;
  }

  .stepbytech-context {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 45px;
    align-items: flex-start;
  }

  .stepbytech-topics-container {
    display: grid;
    margin-top: 50px;
  }

  .aboutus-patrocinio-img {
    width: 100%;
    border-radius: 10px;
  }
}

.stepbytech-individual-topic {
  text-align: center;

  .topic-img {
    width: 6em;
    margin-bottom: 20px;
  }
}

.other-collabs {
  text-align: center;

  .patrociono-img {
    width: 20%;
    margin: 0 45px 0 45px;
  }
}

#patrocinadores {
  background-color: rgba(255, 255, 255, 0.3);
}

.patrocinador-text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 35px;

  h6 {
    color: $blue;
    font-family: $body-font;
  }

  p {
    color: $white;
  }

  .main-patrocinio-img {
    width: 25%;
  }
}

#credits p {
  margin: 100px 0 15px 0;
  font-size: 14px;
  text-align: center;
}
