<!DOCTYPE html>
<html>
  <head>
    <title>Confirmação de Recebimento da Candidatura - Programa <%= @program.title %></title>
  </head>
  <body>
    <p>Olá <%= @user.name.capitalize %>,</p>
    <p>Espero que esta mensagem o(a) encontre bem.</p>

    <p>Quero agradecer sinceramente pelo seu interesse em participar do <strong>Programa <%= @program.title %></strong> na Future of Work Lisboa e na Le Wagon Portugal.</p>
    <p><strong>Confirmamos o recebimento da sua candidatura e estamos empolgados com a possibilidade de considerar a sua participação no programa.</strong></p>

    <p>Nossa equipe revisará cuidadosamente todas as candidaturas e entraremos em contato nos próximos dias para informar sobre o próximo passo do processo seletivo.</p>
    <p>Enquanto isso, caso surja alguma dúvida ou se precisar fornecer informações adicionais, não hesite em responder a este e-mail.</p>
    <p>Agradecemos novamente pelo seu interesse em fazer parte do nosso programa e desejamos-lhe boa sorte no processo seletivo.</p>

    <p>Atensiosamente,</p>
    <p><strong>StepByTech/ Future of Work Lisboa / Le Wagon Portugal.</strong></p>
  </body>
</html>
