<!DOCTYPE html>
<html>
  <head>
    <title>StepByTech | Bem-vindo ao programa: #{@program.title}</title>
  </head>
  <body>
    <p>Olá <%= @user.name.capitalize %>,</p>
    <p>Espero que esta mensagem o(a) encontre bem.</p>

    <p>Em nome da Future of Work Lisboa e da Le Wagon Portugal, é com grande alegria que comunico que <strong>foste selecionado/a para participar do Programa <%= @program.title %></strong>.</p>
    <p>Estamos entusiasmados por teres a oportunidade de fazer parte desta jornada e estamos ansiosos para partilhar contigo esta experiência incrível!</p>
    
    <p>Caso tenhas alguma dúvida ou precisares de mais informações antes do início do programa, não hesites em entrar em contacto.</p>
    <p>Estamos aqui para te apoiar em cada passo do caminho.</p>

    <p>Atensiosamente,</p>
    <p><strong>StepByTech/ Future of Work Lisboa / Le Wagon Portugal.</strong></p>
  </body>
</html>
