<!DOCTYPE html>
<html>
  <head>
    <title>Confirmação de Submissão do Questionário - Processo Seletivo StepByTech</title>
  </head>
  <body>
    <p>Olá <%= @user.name.capitalize %>,</p>
    <p>Espero que esta mensagem o(a) encontre bem.</p>

    <p><strong>Quero informar que recebemos com sucesso o seu questionário.</strong></p>
    <p>
      Parabéns pela conclusão desta etapa! Estamos empolgados com o seu interesse em participar do próximo step e
      nossa equipe agora revisará cuidadosamente as suas respostas. Nos próximos dias, entraremos em 
      contato para informar sobre o próximo passo no processo seletivo.
    </p>
    
    <p>Enquanto isso, se tiver alguma dúvida ou se precisar fornecer informações adicionais, não hesite em responder a este e-mail.</p>
    <p>Agradecemos pelo seu comprometimento e desejamos-lhe boa sorte na continuidade do processo seletivo.</p>

    <p>Atensiosamente,</p>
    <p><strong>StepByTech/ Future of Work Lisboa / Le Wagon Portugal.</strong></p>
  </body>
</html>
