<!DOCTYPE html>
<html>
<head>
  <title>Cancelamento de Inscrição no Evento: <%= @event.title %></title>
</head>
<body>
  <p>Olá <%= @user.name %>,</p>
  <p>Você cancelou a inscrição com sucesso no evento "<strong><%= @event.title %></strong>".</p>

  <p>Lamentamos que você não possa participar do evento. Caso tenha alguma dúvida ou queira reconsiderar, fique à vontade para nos contatar.</p>

  <p>Atenciosamente,</p>
  <p>StepByTech</p>
</body>
</html>
