// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/section";
@import "components/footer";
// @import "programs_list";


*{
  margin: 0;
  padding: 0;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $white;
  background: linear-gradient(145deg, rgba(21, 20, 56, 1) 0%, rgba(39, 25, 67, 1) 35%, rgba(67, 32, 84, 1) 65%, rgba(56, 72, 154, 1) 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}

body::-webkit-scrollbar{
  display: none;
}

