// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "programs_list";
@import "tabulator_bootstrap5";

body {
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-areas: "sidebar main";
}

main {
    grid-area: main;
    overflow-y: scroll;
    height: 100vh;
    padding: 30px;
    width: calc(100vw - 340px);
}

// Sidebar
.sidebar-toggle {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 50px;
}

.btn-sidebar {
    border: none;
    background: none;
}

.sidebar.show-sidebar {
    display: block;
}

@media screen and (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: "main";
    }

    .sidebar {
        display: none; /* Esconda a barra lateral por padrão */
    }

    .sidebar-toggle {
        display: block; /* Mostra o ícone de menu */
    }

    // .sidebar .show-sidebar {
    //     display: block;
    // }
}

.tabulator-group {
    display: flex;
    align-items: center;
}