// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "programs_list";
@import "tabulator_bootstrap5";

body {
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-areas: "sidebar main";
}

main {
    grid-area: main;
    overflow-y: scroll;
    height: 100vh;
    padding: 30px;
    // width: calc(100vw - 340px);
}

// Sidebar
.sidebar-toggle {
    display: none;
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: $gray;
    cursor: pointer;
}

// .sidebar-toggle i {
//     position: relative;
//     top: 30px;
//     right: 50px;
// }

.btn-sidebar {
    border: block;
    background: none;
    border: none;

    position: absolute;
    top: 20px;
    right: 50px;
}

.sidebar.show-sidebar {
    display: block;
}

@media screen and (max-width: 800px) {

    body {
        grid-template-columns: 100%;
        grid-template-areas: "main";
    }

    main {
        margin-top: 60px;
    }

    .sidebar {
        display: none;
        z-index: 1000;
        position: absolute;
        right: 0;
    }

    .sidebar-toggle {
        display: block;
        z-index: 1000;
    }
}

.tabulator-group {
    display: flex;
    align-items: center;
}
